<!-- **************************************************************************
  HOME PAGE
*************************************************************************** -->
<h1>WORKOUT TRACKER</h1>

<!-- **************************************************************************
  INSERT
*************************************************************************** -->
<h3>ADD WORKOUT HERE</h3>
<form id="addWorkoutForm">  <!--action="/#" Don't need bc script.js will redirect the button-->
    Name of Exercise:
      <br><input id="add_name"  type="text" name="name"><br>
    Number of Reps:
      <br><input id="add_reps" type="number" name="reps"><br>
    Weight:
      <br><input id="add_weight" type="number" name="weight"><br>
    Date:
      <br><input id="add_date" type="date" name="date" ><br>
    Unit:
      <br><input id="add_unit" type="radio" name="unit" value="lbs">lbs
          <input id="add_unit" type="radio" name="unit" value="kg">kg<br>
      <br>
    <!-- **ADD WORKOUT BUTTON** IN SCRIPT.JS -->
</form>


<!-- **************************************************************************
  DISPLAY (automatically on load, via DOM in script.js)
*************************************************************************** -->
<h3>RECORDED WORKOUTS</h3>
<table id="displayTable">
  <!-- script.js does DOM here-->

</table>

































<!--SPACE BUFFER-->
